#carousel-slider
  background-color: $bgcolor
  overflow: hidden
  max-height: 800px


.carousel-inner
  .item
    img
      margin: 0 auto
      max-width: 100%
      height: auto
      z-index: -55


.carousel-caption
  z-index: 3
  text-transform: uppercase
  bottom: 20%

  h1
    color: white
    font:
      size: 54
      weight: 400
    line-height: 54px
    display: block
    padding: 200px 0 84px 0

    span
      font:
        size: 38px
        weight: 700
      line-height: 30px

  a
    font-size: 14px
    font-weight: 400
    display: inline-block
    padding: 15px 30px
    color: $accent
    background: white

.carousel-control
  &:hover
    background-color: transparent
