#carousel-slider
  background-color: $bgcolor
  max-height: 800px


.carousel-inner
  .item
    img
      margin: 0 auto
      max-width: 100%
      height: auto
      z-index: -55


.carousel-caption
  z-index: 3
  text-transform: uppercase
  bottom: 20%


  h1
    color: white
    font:
      size: 54px
      weight: 400
    line-height: 54px
    display: block


    span
      font:
        size: 38px
        weight: 700
      line-height: 30px

  a
    font-size: 14px
    font-weight: 400
    display: inline-block
    padding: 15px 30px
    color: $accent
    background: white

.mobile-logo
  +position(absolute, 3% null null 5%)
  display: none

@media screen and (max-width: 1100px)
  .carousel-caption
    bottom: 10%

    h1
      font-size: 44px
      line-height: 44px

      span
        font-size: 28px
        line-height: 20px

    a
      font-size: 10px
      padding: 10px 20px

@media screen and (max-width: 700px)
  .carousel-caption
    bottom: 10%

    h1
      font-size: 34px
      line-height: 34px

      span
        font-size: 18px
        line-height: 10px

    a
      font-size: 10px

@media screen and (max-width: 500px)
  .mobile-logo
    display: block
  header, .carousel-caption, .carousel-control
    display: none
