// Colors
<<<<<<< HEAD
$accent-light: #96725d
$accent: #97735e
$bgcolor: #b5b4b3
$link-color: #9c7660
=======
$accent-light: #e1c184
$accent: #c99065
$bgcolor: #e5eaee
$link-color: $accent
>>>>>>> 224ef76127507e1e73e2ffffc657672023fac715

//Icons
