<section id="blog" class="section">
  <div class="section-separator">
    <hr class="section-bar" />
    <h3>Blog</h3>
  </div>
  <div class="blog-container">
    <div class="blog-unit">
      <img src="img/blog/blog-1.jpg" alt="Blog picture"/>
      <div class="blog-mask"></div>
      <div class="blog-caption">
        <h3>Portraits in outdoor</h3>
        <span class="bar"></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        <a class="blog-bar" href="">Read More</a>

      </div>
    </div>
    <div class="blog-unit">
      <img src="img/blog/blog-2.jpg" alt="Blog picture"/>
      <div class="blog-mask"></div>
      <div class="blog-caption">
        <h3>Old cars with style</h3>
        <span class="bar"></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        <a class="blog-bar" href="">Read More</a>

      </div>
    </div>
    <div class="blog-unit">
      <img src="img/blog/blog-3.jpg" alt="Blog picture"/>
      <div class="blog-mask"></div>
      <div class="blog-caption">
        <h3>Beautiful buildings in europe</h3>
        <span class="bar"></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        <a class="blog-bar" href="">Read More</a>

      </div>
    </div>
    <div class="blog-unit"><img src="img/blog/blog-4.jpg" alt="Blog picture"/>
      <div class="blog-mask"></div>
      <div class="blog-caption">
        <h3>Be creative, be free !</h3>
        <span class="bar"></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        <a class="blog-bar" href="">Read More</a>

      </div>
    </div>
  </div>
</section>
