<section id="clients" class="section">
  <div class="section-separator">
    <hr class="section-bar" />
    <h3>Clients</h3>
  </div>
  <div id="owl-clients" class="owl-carousel">
    <div>
      <img src="../img/clients/clients_01.jpg" alt="Client logo" />
    </div>
    <div>
      <img src="../img/clients/clients_02.jpg" alt="Client logo" />
    </div>
    <div>
      <img src="../img/clients/clients_03.jpg" alt="Client logo" />
    </div>
    <div>
      <img src="../img/clients/clients_04.jpg" alt="Client logo" />
    </div>
    <div >
      <img src="../img/clients/clients_01.jpg" alt="Client logo" />
    </div>
    <div >
      <img src="../img/clients/clients_02.jpg" alt="Client logo" />
    </div>
    <div >
      <img src="../img/clients/clients_03.jpg" alt="Client logo" />
    </div>
    <div >
      <img src="../img/clients/clients_04.jpg" alt="Client logo" />
    </div>
  </div>
</section>
