<section id="contact" class="section">
  <div class="section-separator">
    <hr class="section-bar" />
    <h3>Contact</h3>
  </div>

  <div class="google-maps">
    <iframe src="http://mapbuildr.com/frame/d70imw" frameborder="0" height="380" width="1100"></iframe>
  </div>

  <div class="contact-header">
    <h3>Please contact us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
  </div>
  <div class="contact-container">
    <div class="contact-form">
      <form>
        <div class="contact-wrapper">
          <input type="text" name="name" placeholder="Name *"/>
          <input type="text" name="email" placeholder="E-mail *"/>
        </div>
        <input type="text" class="input-subject" name="subject" placeholder="Subject"/>
        <textarea name="message" placeholder="Message"></textarea>
      </form>
    </div>
    <div class="contact-details">
      <h3>Get in touch</h3>
      <p>Mon-Fri: 09:00 - 17:00</p>
      <h3>Breakfast</h3>
      <p class="margin">Mon-Fri: 09:30 - 10:30</p>
      <div class="detail-unit">
        <div>
          <div class="circle">
            <div class="icon-map-marker"></div>
          </div>
        </div>
        <div class="unit-caption">
          <h3>Adress</h3>
          <p>1835 16th St. Petesburg  FL 33705 Moscow, Russian</p>
        </div>
      </div>
      <div class="detail-unit">
        <div>
          <div class="circle">
            <div class="icon-mobile"></div>
          </div>
        </div>
        <div class="unit-caption">
          <h3>Call us</h3>
          <p>+70 499 248 652 12<br />+70 365 903 428 21</p>
        </div>
      </div>
      <div class="detail-unit">
        <div>
          <div class="circle">
            <div class="icon-envelope-o"></div>
          </div>
        </div>
        <div class="unit-caption">
          <h3>E-mail</h3>
          <p>info@domain.com<br />support@domain.com</p>
        </div>
      </div>
    </div>
  </div>
</section>
