<section id="services" class="section">
  <div class="section-separator">
    <hr class="section-bar" />
    <h3>Services</h3>
  </div>
  <div class="service-group">
    {% for item in site.data.settings.services %}
    <div class="service-unit">
      <div class="bar"></div>
      <div class="icon-{{item.icon}}"></div>
      <p class="service-content">
        <span>{{item.name}}</span>{{item.content}}
      </p>
    </div>
    {% endfor %}
  </div>
</section>
<section class="section-alt">
  <div class="wrap">
    <div id="owl-service" class="owl-carousel">
      <div class="service-purchase">
        <h3>Best theme responsive PSD</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
        <a class="purchase-btn" href="">Purchase now</a>
      </div>
      <div class="service-purchase">
        <h3>Best theme responsive PSD 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
        <a class="purchase-btn" href="">Purchase now</a>
      </div>
      <div class="service-purchase">
      <h3>Best theme responsive PSD 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
      <a class="purchase-btn" href="">Purchase now</a>
    </div>
    </div>
    <div class="service-image">
      <img src="img/mac.png" alt="Macbook Mockup" class="img-responsive" />
    </div>
  </div>
</section>
