<section id="team" class="section">
  <div class="section-separator">
    <hr class="section-bar" />
    <h3>Our team</h3>
  </div>
  <div class="team-container">
    {% for item in site.data.settings.team %}
    <div class="team-unit"><img src="img/team/{{item.img}}.jpg" alt="Employee picture"  />
      <div class="team-mask">
        <div class="team-content">
          <h3 class="team-name">{{item.name}}</h3>
          <span class="bar"></span>
          <span class="team-title">{{ item.title }}</span>
          <div class="team-icons">
            <div class="icon-facebook"></div>
            <div class="icon-twitter"></div>
            <div class="icon-linkedin"></div>
            <div class="icon-behance"></div>
            <div class="icon-dribbble"></div>
            <div class="icon-envelope-o"></div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
      <div class="team-unit team-join">
        <img src="img/team/team-join.jpg" alt="Recturting"  />
        <div class="join-mask">
          <a href="" class="join-btn">Contact</a>
        </div>
      </div>
    </div>
</section>
