<section id="works" class="section">
  <div class="section-separator">
    <hr class="section-bar" />
    <h3>Works</h3>
  </div>
  <ul class="work-list">
    <li class="active">All</li>
    <li>Branding</li>
    <li>Marketing</li>
    <li>Media</li>
    <li>Photography</li>
    <li>Print</li>
    <li>Web-Design</li>
  </ul>
  <div class="work-content">
    {% for item in site.data.settings.work %}
    <div class="work-unit {{item.category}}">
      <img src="img/work/{{item.thumbnail}}.jpg" alt="Work picture" />
      <div class="work-group">
        <div class="work-caption">
          <h5 class="work-header">{{item.name}}</h5>
          <p class="work-category">{{item.category}}</p>
          <a href="" class="work-btn">View work<span></span></a>
        </div>
        <div class="work-mask"></div>
      </div>
    </div>
    {% endfor %}

  </div>
</section>
